# /etc/systemd/system/raspi-client-upload.service
[Unit]
Description=Upload Raspberry Pi Status

[Service]
Type=oneshot
ExecStart=/opt/raspi-status/client/client-upload.sh
